.root {
	appearance: none;
	background: #d9dae5;
	box-sizing: border-box;
	border-radius: 24px;
	color: #4f5162;
	font-size: 12px;
	line-height: 12px;
	padding: 2px 6px;
	user-select: none;

	& > div {
		color: #999001;
	}
}

.primary {
	background: #4c5cb0;
	color: #ffffff;
}

.important {
	background: #cf2318;
	color: #ffffff;
}
