.root {
	appearance: none;
	border: 1px solid #d1d5db;
	border-radius: 3px;
	line-height: 16px;
	padding: 10px 12px;
	outline: none;
	box-sizing: border-box;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23374151' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: calc(100% - 8px);
	background-color: #ffffff;
}

.root[disabled] {
	background-color: #f9fafb;
	cursor: not-allowed;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23D1D5DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

.root:focus {
	border-color: #2563eb;
	box-shadow: 0 0 0 2px #bfdbfe;
}
