:root {
	/* PRIMARY */
	--harness-primary-1: #effbff;
	--harness-primary-2: #cef4fe;
	--harness-primary-3: #a3e9ff;
	--harness-primary-4: #3dc7f6;
	--harness-primary-5: #00ade4; /* brand */
	--harness-primary-6: #0092e4;
	--harness-primary-7: #0378d5; /* main */
	--harness-primary-8: #004ca5;
	--harness-primary-9: #0b3364;
	--harness-primary-10: #1b1b1b;

	/* ALIASES */
	--harness-brand: #00ade4;
	--harness-main: #0378d5;

	/* GRAYSCALE */
	--harness-gray-0: #ffffff;
	--harness-gray-50: #fafbfc;
	--harness-gray-100: #f3f3fa;
	--harness-gray-200: #d9dae5;
	--harness-gray-300: #b0b1c3;
	--harness-gray-400: #9293ab;
	--harness-gray-500: #6b6d85;
	--harness-gray-600: #4f5162;
	--harness-gray-700: #383946;
	--harness-gray-800: #22222a;
	--harness-gray-900: #0b0b0d;
	--harness-black: #000000;

	/* PRIMARY COLORS */
	/* GREEN */
	--harness-green-50: #e4f7e1;
	--harness-green-100: #d8f3d4;
	--harness-green-200: #bdeab7;
	--harness-green-300: #a2e29b;
	--harness-green-400: #86d981;
	--harness-green-500: #4dc952;
	--harness-green-600: #42ab45;
	--harness-green-700: #299b2c;
	--harness-green-800: #1b841d;
	--harness-green-900: #1e5c1f;

	/* BLUE */
	--harness-blue-50: #f4f6ff;
	--harness-blue-100: #dae0ff;
	--harness-blue-200: #b1beff;
	--harness-blue-300: #97a7ff;
	--harness-blue-400: #8598ff;
	--harness-blue-500: #798bec;
	--harness-blue-600: #6374d0;
	--harness-blue-700: #4c5cb0;
	--harness-blue-800: #39478f;
	--harness-blue-900: #2d376d;

	/* YELLOW */
	--harness-yellow-50: #fffbee;
	--harness-yellow-100: #fff9e7;
	--harness-yellow-200: #fef1c4;
	--harness-yellow-300: #fee89d;
	--harness-yellow-400: #fedf76;
	--harness-yellow-500: #fdd13b;
	--harness-yellow-600: #fdcc35;
	--harness-yellow-700: #fcc62d;
	--harness-yellow-800: #fcc026;
	--harness-yellow-900: #fcb519;

	/* ORANGE */
	--harness-orange-50: #fff5ed;
	--harness-orange-100: #fff0e6;
	--harness-orange-200: #ffdabf;
	--harness-orange-300: #ffc195;
	--harness-orange-400: #ffa86b;
	--harness-orange-500: #ff832b;
	--harness-orange-600: #ff7b26;
	--harness-orange-700: #ff7020;
	--harness-orange-800: #ff661a;
	--harness-orange-900: #ff5310;

	/* RED */
	--harness-red-50: #fcedec;
	--harness-red-100: #fbe6e4;
	--harness-red-200: #f5c0bc;
	--harness-red-300: #ef9790;
	--harness-red-400: #ee5f54;
	--harness-red-500: #e43326;
	--harness-red-600: #da291d;
	--harness-red-700: #cf2318;
	--harness-red-800: #c31f17;
	--harness-red-900: #b41710;

	/* SECONDARY COLORS */
	/* TEAL */
	--harness-teal-50: #d3fcfe;
	--harness-teal-100: #c0fbfe;
	--harness-teal-200: #a9eff2;
	--harness-teal-300: #73dfe7;
	--harness-teal-400: #47d5df;
	--harness-teal-500: #0bc8d6;
	--harness-teal-600: #03c0cd;
	--harness-teal-700: #06b7c3;
	--harness-teal-800: #05aab6;
	--harness-teal-900: #07a0ab;

	/* LIME GREEN */
	--harness-lime-50: #f1fae6;
	--harness-lime-100: #eaf8db;
	--harness-lime-200: #c5e1a5;
	--harness-lime-300: #aadc72;
	--harness-lime-400: #9ccc65;
	--harness-lime-500: #7fb800;
	--harness-lime-600: #76af34;
	--harness-lime-700: #689f38;
	--harness-lime-800: #558b2f;
	--harness-lime-900: #487a34;

	/* PURPLE */
	--harness-purple-50: #eadeff;
	--harness-purple-100: #e1d0ff;
	--harness-purple-200: #cfb4ff;
	--harness-purple-300: #c19eff;
	--harness-purple-400: #ae82fc;
	--harness-purple-500: #7d4dd3;
	--harness-purple-600: #6938c0;
	--harness-purple-700: #592baa;
	--harness-purple-800: #4d278f;
	--harness-purple-900: #4d0b8f;

	/* MAGENTA */
	--harness-magenta-50: #fff3f9;
	--harness-magenta-100: #ffeef7;
	--harness-magenta-200: #ffcde4;
	--harness-magenta-300: #ffabd3;
	--harness-magenta-400: #ff8ac1;
	--harness-magenta-500: #ff479f;
	--harness-magenta-600: #f53693;
	--harness-magenta-700: #ee2a89;
	--harness-magenta-800: #d91f79;
	--harness-magenta-900: #ca136c;
}
