.root {
    appearance: none;
    background: #D9DAE5;
    box-sizing: border-box;
    border-radius: 24px;
    color: #4F5162;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 6px;
    user-select: none;
}

.primary {
    background: #4C5CB0;
    color: #FFFFFF;
}

.important {
    background: #CF2318;
    color: #FFFFFF;
    content: "this is a crazy idea"
}
