.dialog {
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08),
		0px 20px 32px rgba(96, 97, 112, 0.24);
	border-radius: 16px;
	position: fixed;
	top: 150px;
	left: 50%;
	transform: translate(-50%);
	margin-top: -5vh;
	min-width: 600px;
	max-height: 85vh;
	outline: none;
	padding: 24px;
	background-color: white;
	border-radius: 6px;
	z-index: 999;
	width: 600px;
	height: auto;
	max-height: calc(80vh - 150px);
	overflow-y: auto;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
}

.close {
	appearance: none;
	background: none;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;

	position: absolute;
	top: 8px;
	right: 8px;
	color: var(--harness-gray-300);

	&:hover {
		color: var(--harness-gray-200);
	}

	&:focus {
		outline: var(--harness-blue-100);
		border-radius: 6px;
	}

	svg {
		width: 24px;
		height: 24px;
	}
}
