.trigger {
	appearance: none;
	background: none;
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
}

.content {
	background: var(--harness-gray-900);
	border-radius: 3px;
	color: var(--harness-gray-0);
	display: inline-flex;
	font-size: 13px;
	padding: 5px 10px;
}

.arrow {
	color: var(--harness-gray-900);
	height: 5px;
}
