.root {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"content";

	height: 100%;
	width: 100%;

	@media only screen and (max-width: 800px) {
		display: block;
		grid-template-rows: unset;
		grid-template-areas: unset;
		height: 100%;
		width: 100%;
	}
}

.content {
	background: var(--harness-gray-50);
	grid-area: content;
	overflow-y: auto;
	max-height: 100%;
	min-height: 100%;
	height: 0;

	@media only screen and (max-width: 800px) {
		display: block;
		overflow-y: unset;
		max-height: unset;
		min-height: unset;
		height: unset;
	}
}

.header {
	grid-area: header;
}
