.root {
	input {
		width: 100%;
		margin-bottom: 24px;

		box-shadow: inset 0 0.5px 4px rgb(96 97 112 / 10%);
		border: 1px solid #b0b1c3;
		border-radius: 8px;
		height: 40px;
		padding: 0 9pt;
	}

	h2 {
		font-weight: 600;
		font-size: 32px;
		line-height: 36px;
		margin-top: 0px;
		margin-bottom: 32px;
		user-select: none;

		small {
			display: block;
			text-transform: lowercase;
			font-weight: 400;
			font-size: 16px;
		}
	}
}

.logo {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	margin: 0px;
	margin-bottom: 60px;
	padding: 0px;
	user-select: none;

	svg {
		height: 36px;
	}
}

.register {
	margin-top: 64px;
	font-size: 15px;
	user-select: none;

	button {
		appearance: none;
		border: none;
		background: transparent;
		font-size: 15px;
		font-family: Inter;
		padding: 0px;
		margin: 0px;
		cursor: pointer;
		color: #0278d5;
	}
}

.login {
	background: #0278d5;
	box-shadow: 0 0 1px rgb(40 41 61 / 4%), 0 2px 4px rgb(96 97 112 / 16%);
	border-radius: 8px;
	height: 40px;
	color: #fff;
	border: none;
	width: 100%;
	padding: 0 9pt;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Inter;
	user-select: none;
	cursor: pointer;
	transition: background-color 0.1s ease-in;

	&:hover {
		background: #04aae4;
	}
}
